
<%= link_to "新規投稿ページへ", new_item_path %>

<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>


<%= form_tag({controller:"items",action:"index"}, method: :get) do %>
    <%= text_field_tag :tag %>
    <%= submit_tag 'タグを追加' %>
<% end %>


<%= search_form_for @q  do |f| %>
   <%= f.label :title, '商品名' %>
  <%= f.search_field :title_cont %>
  
  <%= f.label :price_cont, '値段' %>
  <%= f.search_field :price_cont %>

   <%= f.label :about_cont, '説明' %>
  <%= f.search_field :about_cont %>

  <%= f.submit "search" %>

<% end %>

<div class="tweets-container">
  <% @items.each do |t| %>


    <% if user_signed_in? %>
      <% if current_user.id == t.user_id %>
      <% elsif current_user.admin? %>
        <%= link_to "管理者用編集", edit_post_path(t.id) %>
        <%= link_to "管理者用削除", item_path(t.id), method: :delete %>
      <% end %>
    <% end %>


    <div class="tweet">
      <%= t.title %>
      <%= t.price %>
      <%= t.about %>
      <%= t.created_at %>
 
  
      <div class="my-8">
      <div id="item-<%= t.id %>" class="mb-3">
        <p class="font-bold">タイトル：<%= t.title %></p>
        <% if t.images.attached? %>
          <% t.images.each do |image| %>
            <div class="mb-2 inline-flex">
              <%= image_tag(image, width:100, class: "") %>
              
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    
   

    
      <%= link_to t.user.name, user_path(t.user.id) %>
      <%= t.user.email %> 
      <%= link_to "詳細へ", item_path(t.id) %>
      <% if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to "編集する", edit_item_path(t.id) %>
      <%= link_to "削除する", item_path(t.id), method: :delete %>
    <% end %> 
    

     <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to item_like_path(id: t.id, item_id: t.id), data: { turbo_method: :delete } do %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to item_likes_path(id: t.id, item_id: t.id), data: { turbo_method: :post }  do %>
               <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
          <% end %>
      <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
      <% end %>
   </div>
  <% end %>
</div>


<% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to "秘密のページへ", users_path %>
    <% end %>
<% end %>

