
<h3>新規投稿</h3>
<%= form_with(model: @item, local: true, multipart: true, data: { controller: "images"}) do |f| %>

  <div class="field">
    <%= f.label :商品タイトル%>
    <%= f.text_field :title, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :値段 %>
    <%= f.number_field :price, :size => 10 %>
  </div>

  <div class="field">
    <%= f.label :商品説明  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>

  
  
    <div class="mb-3">
      <%= f.label :images, "画像", class: "font-semibold block p-1" %>
      <%= f.file_field :images, multiple: true, accept: "image/jpeg,image/gif,image/png", data: { images_target: "select", action: "change->images#selectImages" } %>
    </div>
    <div data-images-target="preview">
      <% if @item.images.attached? %>
        <% @item.images.each do |image| %>
          <div class="image-box inline-flex mx-1 mb-5" data-controller="images" data-images-target= "image_box">
            <div class="text-center">
              <%= image_tag image, width: "100" %>
              <a class="link cursor-pointer" data-action="click->images#deleteImage">削除</a>
              <%= f.hidden_field :images, name: "item[images][]", style: "display: none", value: "#{image.blob.id}" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  
   <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>


  <%= f.submit "投稿する" %>
<% end %>
<%= link_to "投稿一覧に戻る", items_path %>
